#head{
    color:blue;
}
.box{
    height: 100px;
    width: 100px;
    background-color: pink;
    border: 2px solid black;
    margin-top: 10px;
    text-align: center;
}
.para{
    color:brown;
    font-family: 'Lucida Sans';
}
.newClass{
    background-color: green;
}
#btn1{
    background-color: white;
    color: black;
}
